.mainContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.gridSettings {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
}

.gridCell {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.gridCellRevealed {
    background-color: #0f0 !important;
    cursor: not-allowed;
}

.gridCellRevealed:hover {
    transform: none;
    background-color: #0f0 !important;
}

.gridCellMineRevealed,
.gridCellMineRevealed:hover {
    background-color: red !important;
}

.result {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.multiplierText {
    display: inline-block;
    animation: flyDown 0.6s ease-out forwards;
    font-size: 1.2rem;
}

@keyframes flyDown {
    from {
        transform: translateY(-40px) scale(1.5);
        opacity: 0;
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}