body {
  background: linear-gradient(135deg, #001700, #000);
  background-attachment: scroll;
  background-size: auto;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #0f0;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  background-color: #0c0;
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
  background-color: gray;
  transform: none;
}

input {
  border: 1px solid #0f0;
  padding: 5px;
  color: white;
}

input:disabled {
  cursor: not-allowed;
  color: gray;
}

.inputGroup {
  position: relative;
}

.inputGroup input {
  padding: 12px 8px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  background: none;
}

.inputGroup label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: transparent;
  padding: 0 4px;
  font-size: 0.9rem;
  pointer-events: none;
  transition: 0.2s ease all;
  border: none;
}

/* When input is focused or filled */
.inputGroup input:focus+label,
.inputGroup input:not(:placeholder-shown)+label {
  top: -8px;
  font-size: 0.75rem;
}

/* Rainbow border effect on focus */
.inputGroup input:focus {
  border: 2px solid transparent;
  background:
    linear-gradient(black, black) padding-box,
    /* input background */
    linear-gradient(270deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00ab,
      #ff0000) border-box;
  background-size: 300% 300%;
  animation: rainbowBorder 4s linear infinite;
}

@keyframes rainbowBorder {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}