.header {
    display: flex;
    font-weight: 900;
}

.layoutContainer {
    display: flex;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.headerAndMainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    display: flex;
    height: fit-content;
    padding: 1rem 1rem;
    font-weight: 400;
    color: var(--primary-green);
}

.footer {
    display: flex;
    padding: 1rem 2rem;
    height: 50px;
    border-top: 1px solid gray;
}